
{% extends "layout.html" %}

{% block body %}
<body><div id="snippetContent" style="margin-top:-25px;">  <div class="container"><div class="main-body"> <nav aria-label="breadcrumb" class="main-breadcrumb"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/">Anasayfa</a></li><li class="breadcrumb-item"><a href="javascript:void(0)">Kullanıcı</a></li><li class="breadcrumb-item active" aria-current="page">{{user.username}}</li></ol> </nav><hr><div class="row gutters-sm"><div class="col-md-4 mb-3"><div class="card"><div class="card-body"><div class="d-flex flex-column align-items-center text-center">

    <br>
    <img width="200" height="200" src="{{info.user_img.url}}" />
<br></a><div class="mt-3"><h4>{{user.username}}</h4><br><p class="text-secondary mb-1">{{user.first_name}} {{user.last_name}}</p><p class="text-secondary mb-1">user</p><p class="text-secondary mb-1">{{user.email}}</p><p class="text-secondary mb-1">{{info.birthday|date:"d F Y"}}</p><br> 
    <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.media }}
   {{form}}
   <br>
   <button type="submit" class="btn btn-danger" >Makale Ekle</button>
</form>

<br><br><br><br> </div></div></div></div></div><div class="col-md-8">
   <div>



<h2>Makaleler</h2>
{% if request.user.username == user.username %}
<a href="{% url 'article:dashboard' %}"><button class="btn btn-danger">Kontrol Paneli</button></a>
<br>

{% endif %}
<br>
<table  class="table table-hover" >
<thead bgcolor=#ffffff>
<tr >
  <th scope="col">id</th>
  <th scope="col">Başlık</th>
  <th scope="col">Yazar</th>
  <th scope="col">Tarih</th>

</tr>
</thead>
<tbody bgcolor=#ffffff>
{% for article in articles  %}
<tr>
  <th scope="row">{{article.id}}</th>
  <td><a href="/article/{{article.id}}" style="color:#292b2c;">{{article.title}}</a></td>
  <td>{{article.author}}</td>
  <td>{{article.created_date}}</td>
  
</tr>
{% endfor %}

</tbody>
</table>

</div></div></div></div></div><style type="text/css">body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}</style> <script type="text/javascript"></script> </div>

    </div><style type="text/css">body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}</style> <script type="text/javascript"></script> </div></body>
{% endblock body %}